/* Styles for Header and Footer */
header {
    background-color: #000000;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  
footer {
    background-color: #000000;
    color: white;
    text-align: left;
  }
  